h1 {
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
    margin-top: .25em;
}

.wrapper {
    background-color: coral;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
    background-color: #E9EFFD;
    box-shadow: 5px 5px;
    margin: 10px;
    border: 2px solid black;
    padding: .5em;
    max-width: 350px;
}

#domain-search {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.domain-search-result {
    margin: auto;
    max-width: 500px;
    width: 100%;
}

.div__form {
    display: flex;
    justify-content: center;
}

/*      BUTTONS      */
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.save-button {
    background-color: #4CAF50;
    color: white;
  }

.save-button:hover {
    background-color: #45a049;
  }

.reset-button {
    background-color: whitesmoke;
}

.reset-button:hover {
    background-color: lightgray;
  }

button {
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }